<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
  <div class="col-md-3 mb-2 mb-md-0">
 
  </div>

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a routerLink="home" routerLinkActive="active" class="nav-link"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="calculadora"
        routerLinkActive="active"
        class="nav-link active"
        >Calculadora</a
      >
    </li>
    <li class="nav-item">
      <a
        routerLink="media-simples"
        routerLinkActive="active"
        class="nav-link px-2"
        >Média Simples</a
      >
    </li>
  </ul>
</header>
